/*
	BORDER BOX RESET
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-blue: #1a2236;
  --text-size-p: 14px;
  --text-size-button: 16px;
  --text-size-h1: 50px;
  --text-size-h4: 20px;
  --text-size-span: 10.33px;
  --color-project-tech-stack-tag: #98DEDE;
}

/* HEADER */
.header {
  flex-direction: row-reverse;
  padding: 20px;
  background: no-repeat url("images/decorative_bg_1.png");
  background-size: contain;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}


/* CTA */
.CTA {
  display: flex;
  flex-direction: column;
}

.CTA-container {
  padding: 30px 20px;
}

.CTA-container > .CTA-my-name {
  padding: 20px 0;
}

.CTA-decorative-img {
  width: 100% ;
}


.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  padding-bottom: 10px;
}

.project-name {
  color: white;
  margin: 10px 20px;
  font: var(--text-size-h4) "Poppins", serif;
}

.project-tech-stack-tags {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.project-tech-stack-tags > * {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: var(--dark-blue);
  font: var(--text-size-span) "Poppins", serif;
  background: var(--color-project-tech-stack-tag);
}

.project-details-link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 10px 20px;
  padding: 0 20px;
  text-decoration: none;
  border: solid 2px white;
}

.project-details-link span {
  margin: 0 5px;
  font: var(--text-size-button) "Poppins", serif;
}

.article-container {
  padding: 20px;
}

.article-header {
  font: var(--text-size-h1) "Playfair Display", serif;
  color: var(--dark-blue);
  line-height: 100%;
}

.article-summery {
  padding: 20px 0;
  font: var(--text-size-p) "Poppins", serif;
  color: var(--dark-blue);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  padding: 10px 20px;
  background: var(--dark-blue);
  color: white;
  font: var(--text-size-button) "Poppins", serif;
  text-decoration: none;
}


