/*
  BORDER BOX RESET
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Colors */
  --primary-color: #1a2236;
  --secondary-color: #98dede;
  --tertiary-coloe: #dddfe6;

  /* Font family */
  --primary-font-family: "Poppins", serif;
  --secondary-font-family: "Playfair Display", serif;

  /* Text size */
  --text-regular: 16px;
  --text-large: 20px;
  --text-xx-large: 50px;

  /* Font weight */
  --font-regular: 300;
}
