:root {
  /* Text size */
  --text-small: 10.3334px;
  --text-medium: 18px;
  --text-large: 20px;
  --text-x-large: 60px;

  /* Font family */
  --primary-font-family: "Poppins", serif;

  /* Primary color */
  --primary-color: #1a2236;

  /* Font weight */
  --normal: 400;
  --bold: 700;
}
